<div>
    <header><h1>Add New Task</h1></header>
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <label for="description">Task Description</label>
            <input id="description" type="text" class="pure-input-1" placeholder="Task Description" required
                maxlength="200" [(ngModel)]="task.description" [ngModelOptions]="{standalone: true}">
        </fieldset>

        <fieldset>
            <label for="deadline">Deadline</label>
            <input id="deadline" type="date" class="pure-input-1-4" placeholder="Deadline" required [(ngModel)]="task.deadline" [ngModelOptions]="{standalone: true}">
        </fieldset>

        <fieldset class="pure-group">
            <label for="tags">Tags</label>
            <input id="tags" type="text" class="pure-input-1" placeholder="Comma seperated tags" maxlength="50" [(ngModel)]="tags" [ngModelOptions]="{standalone: true}">
        </fieldset>

        <button class="pure-button geek" (click)="createTask()">Create Task</button>
    </form>
</div>
<hr />
<h1>Tasks</h1>
<div *ngIf="tasks.length > 0; else emptyTaskList">
    <div *ngFor="let aTask of tasks">
        <h1><a [routerLink]="['/tasks', aTask.id]">{{ aTask.description }}</a></h1>
        <strong>Deadline: </strong>  <em>{{ aTask.deadline | date:"dd MMM, yyyy" }}</em>
        <strong> | Tags: </strong>  {{ aTask.tags }}
        <hr />
    </div>
</div>
<ng-template #emptyTaskList>
    No tasks in your bucket. Go enjoy :)
</ng-template>