

body {
    background-color: black;
    color: #b5e853;
    font-family: 'Roboto Mono', monospace;
}

.container {
    margin: 2em;
}

.pure-menu-link:hover, .pure-menu-link.active {
    background-color: #b5e853;
    color: black;
}

button {
    border-radius: 5px !important;
    min-width: 10em;
}

button.geek {
    background-color: #b5e853;
    color: black;
    font-weight: bold;
}

input[type] {
    color: black;
}

@media screen and (min-width: 48em) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
}
